<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012047826740-kvbhtohqs228qsucigki06d592vq8u4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012047826740-kvbhtohqs228qsucigki06d592vq8u4j</string>
	<key>API_KEY</key>
	<string>AIzaSyDB8l6e349Gw67vFHrPIiLR8P2b78BY3nw</string>
	<key>GCM_SENDER_ID</key>
	<string>1012047826740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nayantaradas.studyCoach</string>
	<key>PROJECT_ID</key>
	<string>study-coach-9fa73</string>
	<key>STORAGE_BUCKET</key>
	<string>study-coach-9fa73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012047826740:ios:614ad51bad2e4cb9c69f61</string>
	<key>DATABASE_URL</key>
	<string>https://study-coach-9fa73-default-rtdb.firebaseio.com</string>
</dict>
</plist>